/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    justify-content: center;
}
main {
    margin: 20px;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 1.5em;
    background-color: var(--main-bg-color);
}

.euro {
    font-weight: 700;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color);
}







/*****Header*****/

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
header a {
    padding: 10px 10px 0 10px;
}
header nav a:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
}
#logo {
    width: 90px;
    height: 30px;
}






/*****Présentation et barre de Recherche+Filtres*****/

.headline,.note-info,.zone-filtres  {
    padding: 10px 0 10px 10px;
}
.fa-location-dot {
    color: black;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--main-bg-color);
}
.zone-de-recherche {
    padding: 10px 0 10px 30px;
}
.zone-de-recherche form {
    display: flex;
}
input[type=text] {
    border: 1px solid var(--main-bg-color);
    border-right: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 13px 0 13px 0;
}
.bouton-rechercher {
    color: white;
    background-color: #0065FC;
    border: none;
    padding: 15px;
    border-radius: 0 10px 10px 0;
}
.bouton-rechercher:hover {
    opacity: 0.8;
}
.fa-magnifying-glass {
    color: white;
    background-color: #0065FC;
}
.logo-loupe {
    display: none;
    background-color: #0065FC;
    border: none;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
}
.fa-money-bill-wave,.fa-person,.fa-heart,.fa-fire,.fa-circle-info {
    margin: 0 10px 0 0;
}
 
.bouton-filtres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid var(--main-bg-color);
    border-radius: 40px;
    margin: 10px;
    padding: 0 10px 0 10px;
    font-size: 1em;
    font-weight: bold;
}
.ligne-filtres {
    display: flex;
    flex-direction: row;
}
.column-filtres {
    display: flex;
    flex-direction: row;
}
.zone-filtres {
    display: flex;
    flex-direction: row;
}

.bouton-filtres:hover {
    background-color: #DEEBFF;
}
.bouton-filtres:hover .fa-money-bill-wave {
    background-color: #DEEBFF;
}
.bouton-filtres:hover .fa-heart {
    background-color: #DEEBFF;
}
.bouton-filtres:hover .fa-person {
    background-color: #DEEBFF;
}
.bouton-filtres:hover .fa-fire {
    background-color: #DEEBFF;
}

.note-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
}




/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}







/****** Hebergements ***********/
.hebergements {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.column-hebergement {
    display: flex;
    background-color: var(--main-bg-color);
    margin: 5px;
}
.cartes-hebergement img {
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.hebergement-title {
    margin: 10px 0 20px 10px;
    background-color: blue;
}
.cartes-hebergement {
    width: 33%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    margin: 10px 10px 10px 10px;
}
.cartes-hebergement:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}
.cartes-hebergement-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.cartes-hebergement-content h3 {
    margin: 5px 0 3px 10px;
}
.cartes-hebergement-content p {
    margin: 3px 0 3px 10px;
}
.cartes-hebergement-content .card-rating {
    margin: 5px 0 5px 10px;
    
}
.zone-afficher-plus {
    background-color: var(--main-bg-color);
}
.afficher-plus {
    display: inline-flex;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0 10px 10px;
    padding: 0;
    background-color: var(--main-bg-color);
}
.afficher-plus:hover {
    opacity: 0.6;
}






/****** Populaires ***********/
.populaires {
    width: 30%;
    margin-left: 10px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px 10px;
    background-color: var(--main-bg-color);
}
.fa-chart-line {
    background-color: var(--main-bg-color);
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.populaires-cards {
    background-color: var(--main-bg-color);
}
.card:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 147px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .populaire-card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}







/*****Activités*****/

.activite {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.cartes-activite {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    margin: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.cartes-activite:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}
.cartes-activite img {
    width: 100%;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.nom-activite {
    margin: 20px; 
    justify-self: center;  
}
.nom-activite h3 {
    margin: 0;
}
.activite-title {
    margin: 10px 0 20px 10px;
    background-color: white;
}
.onglet-activite {
    padding: 30px;
}




/*****Footer*****/

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 20px;
    background-color: var(--main-bg-color);
}
footer a {
    padding: 5px 20px 5px 0;
    color: black;
    background-color: var(--main-bg-color);
}
.footer-content {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 33%;
    background-color: var(--main-bg-color);
}
footer h3 {
    background-color: var(--main-bg-color);
}
footer a:hover {
    color: #0065FC;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* general */

    .main-container {
        padding: 25px;
    }


    /* Header */

    #logo {
        padding-left: 10px;
    }
    

    /*****Présentation et barre de Recherche+Filtres*****/

    .zone-filtres {
        display: flex;
        flex-direction: column;
    }
    .zone-filtres h3 {
        margin: 10px 0 5px 0;
    }
    .bouton-filtres {
        padding: 8px;
        margin-left: 0;
    }
    .column-filtres {
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
    }
    .headline,.note-info,.zone-filtres,.zone-de-recherche {
        padding-left: 0;
    }
    


    /* Hebergement et populaires zones */

    .hebergements-and-populaires {
        flex-direction: column;
        align-items: center;
    }
    .hebergements-and-populaires section {
        padding: 10px;
    }

    /* hebergements */


    .hebergements {
        width: 100%;
        margin-right: 0;
    }
    .column-hebergement {
        margin: 0;
    }
    .cartes-hebergement img {
        height: 100px;
    }
   .cartes-hebergement-content h3 {
      font-size: 14px;
   }
   .cartes-hebergement-content p {
    font-size: 13px;
   }
   .afficher-plus {
    margin-left: 0;
    padding-left: 10px;
   }


    /* Populaires */

    .populaires {
        width: 100%;
        margin-top: 50px;
        margin-left: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards img {
        width: 33%;
        height: 130px;
    }
    .populaires-cards .card {
        width: 33%;
        margin: 10px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    

    /* Activités */

    .onglet-activite {
        padding: 10px;
    }
    .activite img {
        height: 200px;
    }
    .activite h3 {
        font-size: 14px;
    }
   
    /* Footer */

    footer {
        margin: 20px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    /* general */

    .main-container {
        padding: 0;
    }
    body {
        margin: 0;
    }
    main {
        margin: 0;
    }

    /* header */

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #logo {
        padding: 10px;
    }
    nav {
        margin: 10px;
        display: flex;
    }
    nav a {
        padding: 10px 50px 10px 50px;
    }
    header nav a:hover {
        border-top: none;
        border-bottom: 2px #0065FC solid;
        color: #0065FC;
    }


    /*Présentation et barre de Recherche+Filtres*/

    .presentation-recherche {
        margin: 20px;
    }
    .logo-loupe {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .bouton-rechercher {
        display: none;
    }
    .bouton-loupe {
        border: 1px solid var(--main-bg-color);
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .bouton-loupe:hover {
        opacity: 0.8;
    }
    .zone-de-recherche form {
        display: flex;
        justify-content: center;
    }
    input[type=text] {
        width: 80%;
    }
    .column-filtres {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ligne-filtres {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .bouton-filtres {
        width: 48%;
        padding: 10px;
        margin: 10px 0 10px 0;
    }


    /* zone hebergement et populaires */

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .hebergements-and-populaires section {
        border-radius: 0;
        box-sizing: border-box;
        padding: 20px;
    }

    /* section populaires */

    .populaires {
        margin: 0;
    }
    .populaires-title {
        margin-left: 0;
        margin-top: 0;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .populaires-cards .card {
        box-sizing: border-box;
        width: 100%;
    }

    /* section hebergements */


    .hebergements-and-populaires .hebergements {
        background-color: white;
    }
    .hebergement-title {
        margin: 10px 0 15px 0;        
    }
    .hebergement-title .section-title {
        background-color: white;
    }
    .column-hebergement {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    .afficher-plus {
        background-color: white;
        margin: 0;
        padding: 0;
    }
    .afficher-plus a {
        background-color: white;
    }
    .cartes-hebergement {
        width: 100%;
        box-sizing: border-box;
        margin: 15px 0 15px 0;
    }


    /* Activité */

    .onglet-activite {
        margin: 20px;
        padding: 0;
    }
    .activite-title {
        margin: 20px 0 20px 0;
    }
    .activite {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        
    }
    .cartes-activite {
        width: 100%;
    }
    .cartes-activite img {
        height: 150px;
    }



    /* footer */

    footer {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }
    .footer-content {
        width: 100%;
        padding: 10px 0 10px 0;
    }
    .footer-content h3 {
        margin: 0;
        padding: 10px 0 10px 0;
    }
    .footer-content a {
        padding: 10px 0 10px 0;
    }

}