/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    background-color: var(--main-bg-color);
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    justify-content: center;
}
main {
    margin: 20px;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 1.5em;
}

.euro {
    font-weight: 700;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: gold;
}






/*****Header*****/

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
header a {
    padding: 10px 10px 0 10px;
}
header nav a:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
}
#logo {
    width: 90px;
    height: 30px;
}





/*****Présentation et barre de Recherche+Filtres*****/

.headline,.note-info,.zone-filtres  {
    padding: 10px 0 10px 10px;
}
.fa-location-dot {
    color: black;
}
.zone-de-recherche {
    padding: 10px 0 10px 30px;
}
input[type=text] {
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 0 10px 0;
}
.bouton-rechercher {
    color: white;
    background-color: #0065FC;
    border: none;
    padding: 13px;
    border-radius: 0 10px 10px 0;
}
.bouton-rechercher:hover {
    opacity: 0.8;
}
.fa-magnifying-glass {
    color: white;
    background-color: #0065FC;
}
.logo-loupe {
    opacity: 0;
    background-color: #0065FC;
    border: none;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
}
.fa-money-bill-wave,.fa-person,.fa-heart,.fa-fire,.fa-circle-info {
    margin: 0 10px 0 0;
}
 
.bouton-filtres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px #d9d9d9 solid;
    border-radius: 40px;
    margin: 10px;
    padding: 0 10px 0 10px;
    font-size: 1em;
    font-weight: bold;
}
.ligne-filtres {
    display: flex;
    flex-direction: row;
}
.column-filtres {
    display: flex;
    flex-direction: row;
}
.zone-filtres {
    display: flex;
    flex-direction: row;
}

.bouton-filtres:hover {
    background-color: #DEEBFF;
}
.bouton-filtres:hover .fa-money-bill-wave {
    background-color: #DEEBFF;
}
.bouton-filtres:hover .fa-heart {
    background-color: #DEEBFF;
}
.bouton-filtres:hover .fa-person {
    background-color: #DEEBFF;
}
.bouton-filtres:hover .fa-fire {
    background-color: #DEEBFF;
}

.note-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}






/****** Hebergements ***********/
.hebergements {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.column-hebergement {
    display: flex;
    margin: 5px;
}
.cartes-hebergement img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.hebergement-title {
    margin: 10px 0 20px 10px;
}
.cartes-hebergement {
    width: 33%;
    /* box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1); */
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    margin: 10px 10px 10px 10px;
}
.cartes-hebergement:hover {
    /* box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); */
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}
.cartes-hebergement-content {
    display: flex;
    flex-direction: column;
}
.cartes-hebergement-content h3 {
    margin: 5px 0 3px 10px;
}
.cartes-hebergement-content p {
    margin: 3px 0 3px 10px;
}
.cartes-hebergement-content .card-rating {
    margin: 5px 0 5px 10px;
}
.afficher-plus {
    width: 150px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0 10px 10px;
}
.afficher-plus:hover {
    opacity: 0.6;
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px 10px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}






/*****Activités*****/

.activite {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.cartes-activite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cartes-activite:hover {
    opacity: 0.8;
}
.cartes-activite img {
    width: 280px;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.cartes-activite h3 {
    padding-left: 10px;
}
.activite-title {
    margin: 10px 0 20px 10px;
}



/*****Footer*****/

footer {
    display: flex;
    justify-content: space-between;
}
footer a {
    padding: 5px 20px 5px 0;
    color: black;
}
.footer-content {
    display: flex;
    flex-direction: column;
    padding-right: 200px;
}
footer a:hover {
    color: #0065FC;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}